:root {
  --black: #1a171c;
  --white: #f8f8f8;
  --gray: #acacac;
  --red: #e9322f;
  --side-padding: 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Teko', 'Lato', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--red) var(--black);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 10px;
  border: 3px solid var(--black);
}

::-moz-selection {
  color: var(--black);
  background: var(--red);
}
::selection {
  color: var(--black);
  background: var(--red);
}

/* dibuja el texto seleccionado en un parrafo de color blanco y negro*/
p::-moz-selection {
  color: var(--black);
  background: var(--red);
}
p::selection {
  color: var(--black);
  background: var(--red);
}
